<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css">
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <h1>{{ army_officer.getName }}</h1>
        <ul>
            <li>Rank: {{ army_officer.getRank }}</li>
            <li>Species: {{ army_officer.getSpecies }}</li>
            <li>Pay: {{ army_officer.getPay }} Galactic Credits</li>
            <li>Record: {{army_officer.getRecord }}</li>
        </ul>
        <h3> Update Army Officer</h3>
        <form action="/army_officer/{{ army_officer.getId }}" method="post">
            <input name="_method" type="hidden" value="patch">
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="text" name="rank" placeholder="Enter Rank" required>
            <input type="text" name="species" placeholder="Enter Species" required>
            <input type="number" name="pay" placeholder="Enter Pay" required>
            <input type="text" name="record" placeholder="Enter Record" required>
            <button type="submit" class="btn btn-success">Update Army Officer</button>
        </form>

        <form action='/add_depts' method='post'>
            <input id="employee_id" name="employee_id" type="hidden" value="{{ employee.getId }}">
            <label for="dept_id">Select a dept:</label>
            <select id='dept_id' name='dept_id' type='text'>
                {% for department in all_departments %}
                   <option value="{{ department.getId }}"> {{ department.getDeptName }} </option>
                {% endfor %}
            </select>
            <button type='submit'>Add Department</button>
        </form>

        <form action="/delete_army_officer/{{ army_officer.getId }}" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit">Delete Officer</button>
        </form>
        <a href="/">Home</a>
    </body>
</html>
