<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css">
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <h1>{{ gunners.getName }}</h1>
        <ul>
            <li>Rank: {{ gunners.getRank }}</li>
            <li>Species: {{ gunners.getSpecies }}</li>
            <li>Pay: {{ gunners.getPay }} Galactic Credits</li>
            <li>Record: {{gunners.getRecord }}</li>
        </ul>
        <h3> Update Battle Station Gunner</h3>
        <form action="/gunners/{{ gunners.getId }}" method="post">
            <input name="_method" type="hidden" value="patch">
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="text" name="rank" placeholder="Enter Rank" required>
            <input type="text" name="species" placeholder="Enter Species" required>
            <input type="number" name="pay" placeholder="Enter Pay" required>
            <input type="text" name="record" placeholder="Enter Record" required>
            <button type="submit" class="btn btn-success">Update Battle Station Gunner</button>
        </form>
        <a href="/">Home</a>
    </body>
</html>
