<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Orbitron|Passion+One" rel="stylesheet">
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <img src="/img/Dstarholo.jpg" alt="Death Star Hologram" class="holo"/>
                </div>
                <div class="col-md-8">
                    <h1 class="pageHeader"><em>Imperial Navy Personnel</em></h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="listTitle">{{ navy_pilot.getName }}</h1>
                    <ul class="indivInfo">
                        <li>Rank: {{ navy_pilot.getRank }}</li>
                        <li>Species: {{ navy_pilot.getSpecies }}</li>
                        <li>Pay: {{ navy_pilot.getPay }} Galactic Credits</li>
                        <li>Record: {{navy_pilot.getRecord }}</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <img src="/img/tieFighters.jpg" alt="TIE fighters in Battle" id="armada"/>
                    <div class="indivHome">
                        <a href="/"><h2>Home</h2></a>
                        <a href="/navy_pilots"><h2>Back</h2></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="opsChiefs"> Update Navy Pilot</h3>
                    <form action="/navy_pilot/{{ navy_pilot.getId }}" method="post"class="updateInputs">
                        <input name="_method" type="hidden" value="patch"><br><br>
                        <input type="text" name="name" placeholder="Enter Name" required><br><br>
                        <input type="text" name="rank" placeholder="Enter Rank" required><br><br>
                        <input type="text" name="species" placeholder="Enter Species" required><br><br>
                        <input type="number" name="pay" placeholder="Enter Pay" required><br><br>
                        <input type="text" name="record" placeholder="Enter Record" required><br><br>
                        <button type="submit" class="btn btn-success">Update Navy Pilot</button>
                    </form><br>
                    <form action="/delete_navy_pilot/{{ navy_pilot.getId }}" method="post">
                        <input name="_method" type="hidden" value="delete">
                        <button type="submit" class="btn btn-danger">Delete Pilot</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
