<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Orbitron|Passion+One" rel="stylesheet">
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <img src="/img/Dstarholo.jpg" alt="Death Star Hologram" class="holo"/>
                </div>
                <div class="col-md-8">
                    <h1 class="pageHeader"><em>Imperial Navy Personnel</em></h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="listTitle">{{ navy_officer.getName }}</h1>
                    <ul class="indivInfo">
                        <li>Rank: <span id='dept'>{{ navy_officer.getRank }}</span></li>
                        <li>Species: <span id='dept'>{{ navy_officer.getSpecies }}</span></li>
                        <li>Pay: <span id='dept'>{{ navy_officer.getPay }} Galactic Credits</span></li>
                        <li>Record: <span id='dept'>{{navy_officer.getRecord }}</span></li>
                    </ul>
                    <form action='/add_depts_NO' method='post'>
                        <input id="navy_officer_id" name="navy_officer_id" type="hidden" value="{{ navy_officer.getId }}">
                        <label for="dept_id" class="listTitle"><h3>Assign to a Department:</h3></label>
                        <select id='dept_id' name='dept_id' type='text'>
                            {% for department in all_departments %}
                            {% if department.getId != 3 %}
                            <option value="{{ department.getId }}"> {{ department.getDeptName }} </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <button type='submit' class="btn btn-info addDept">Add Department</button>
                    </form>
                </div>
                <div class="col-md-5">
                    <img src="/img/armada.jpg" alt="Fleet of Star Destroyers" id="armada"/>
                    <div class="indivHome">
                        <a href="/"><h2>Home</h2></a>
                        <a href="/navy_officers"><h2>Back</h2></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="opsChiefs"> Update Navy Officer</h3>
                    <form action="/navy_officer/{{ navy_officer.getId }}" method="post"class="updateInputs">
                        <input name="_method" type="hidden" value="patch"><br><br>
                        <input type="text" name="name" placeholder="Enter Name" required><br><br>
                        <input type="text" name="rank" placeholder="Enter Rank" required><br><br>
                        <input type="text" name="species" placeholder="Enter Species" required><br><br>
                        <input type="number" name="pay" placeholder="Enter Pay" required><br><br>
                        <input type="text" name="record" placeholder="Enter Record" required><br><br>
                        <button type="submit" class="btn btn-basic">Update Navy Officer</button>
                    </form><br>
                    <form action="/delete_navy_officer/{{ navy_officer.getId }}" method="post">
                        <input name="_method" type="hidden" value="delete">
                        <button type="submit" class="btn btn-danger">Delete Navy Officer</button>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>
