<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css">
        <title>Death Star "HR" Portal</title>
    </head>
    <body>
        <h1>{{ navy_pilot.getName }}</h1>
        <ul>
            <li>Rank: {{ navy_pilot.getRank }}</li>
            <li>Species: {{ navy_pilot.getSpecies }}</li>
            <li>Pay: {{ navy_pilot.getPay }} Galactic Credits</li>
            <li>Record: {{navy_pilot.getRecord }}</li>
        </ul>
        <h3> Update Navy Pilot</h3>
        <form action="/navy_pilot/{{ navy_pilot.getId }}" method="post">
            <input name="_method" type="hidden" value="patch">
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="text" name="rank" placeholder="Enter Rank" required>
            <input type="text" name="species" placeholder="Enter Species" required>
            <input type="number" name="pay" placeholder="Enter Pay" required>
            <input type="text" name="record" placeholder="Enter Record" required>
            <button type="submit" class="btn btn-success">Update Navy Pilot</button>
        </form>
        <form action="/delete_navy_pilot/{{ navy_pilot.getId }}" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit">Delete Pilot</button>
        </form>
        <a href="/">Home</a>
    </body>
</html>
